services:
	moduleManager:
		setup:
			- addModule(Crm\ClvModule\ClvModule())

	# Commands
	- Crm\ClvModule\Commands\ComputeClvCommand

	# Components
	- Crm\ClvModule\Components\CustomerLifetimeValue\CustomerLifetimeValue

	# Criteria
	- Crm\ClvModule\Models\Scenarios\CustomerLifetimeValueCriteria

	# Repositories
	- Crm\ClvModule\Repositories\CustomerLifetimeValuesRepository
