admin:
	clv:
		header: "Customer Lifetime Value (CLV)"
		no_clv: "User has no recent subscriptions, CLV was not computed."
		period: Period
		last_updated: Last updated
		user_amount_explanation: "User amount spent in given period."
		clv_description: "Computation is based on subscriber's data and activity for given period and compares his/her spent amount with other users having similar parameters."

criteria:
	clv_bucket:
		label: "User's CLV performance"
		bucket_label: "CLV percentile"
		"25": 0th-25th percentile
		"50": 25th-50th percentile
		"75": 50th-75th percentile
		"100": 75th-100th percentile
