admin:
	clv:
		header: "Customer Lifetime Value (CLV)"
		no_clv: "Uživatel nemá žádné předplatné v nedávné době, CLV nebylo spočteno."
		period: Období
		last_updated: Poslední aktualizace
		user_amount_explanation: "Částka zaplacená uživatelem v daném období."
		clv_description: "Výpočet je založen na datech a aktivitě za vybrané období a porovnává výnos uživatele s výnosem jemu podobných uživatelů."